body {
  background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
margin: 25%;
}

h1, h2, h3{
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  color: white;
}