body {
  background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
margin: 15%;
}

.header {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  padding: 40px;
  text-align: center;
  width: 60em;
  border: solid rgba(0, 0, 0, 0.021);
  border-width: 10px;
  background-color: rgba(252, 162, 17, 0.466);
  margin: 50px auto;
  margin-bottom: 10px;
  box-sizing: border-box;
  float: center;
}

.aboutme {
  font-family: sans-serif;
  text-align: center;
  color: white;
  padding-bottom: 10%;
}

.projects, .background {
  font-family: sans-serif;
  text-align: left;
  color:  white;
  padding-top: 10%;
}

img {
  display: block;
  float: left;
  border: 10px dashed rgba(252, 162, 17, 0.623);
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding-bottom: 60px;
  padding-top: 60px;
}

h4 {
  padding-top: 5%;
}

.card {
  background-color: rgba(46, 97, 145, 0.274);
  margin: 20px 10px;
  width: 100%;
}

.card-body{
  box-shadow: 0 0 20px 7px rgb(255, 255, 255)s;
}

.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 10px;
  height: 50px;
}

.progress {
  margin: 70px;
}

